@import "tailwindcss";

@keyframes subtle-bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px); /* bounce height */
  }
}

.animate-subtle-bounce {
  animation: subtle-bounce 3s ease-in-out infinite;
}
